@font-face {
  font-family: "Suisse";
  src: url("/fonts/SuisseIntl-Regular-WebXL.woff2") format("woff2"),
    url("/fonts/SuisseIntl-Regular-WebXL.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Suisse Mono";
  src: url("/fonts/SuisseIntlMono-Regular-WebXL.woff2") format("woff2"),
    url("/fonts/SuisseIntlMono-Regular-WebXL.woff") format("woff");
  font-display: swap;
}

h1,
h2,
h3,
a,
li,
footer {
  font-family: "Suisse Mono", monospace;
}

p {
  font-family: "Suisse", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", monospace;
  line-height: 1.25;
}
